<div class="container">
  <h3>Search Form</h3>
  <button (click)="search()">Search</button>
</div>

<div class="container">
  <h3>Search Result</h3>
  <table style="background: lightyellow;" border="2">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>BPE Application</th>
        <th>Pipeline Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pipeline of pipelines">
        <td>{{pipeline.id}}</td>
        <td>{{pipeline.name}}</td>
        <td>{{pipeline.getApplicationValue()}}</td>
        <td>{{pipeline.getTypeValue()}}</td>
      </tr>
    </tbody> 
  </table>
</div>